# Configuração do Instalador Anaconda (ISO)

# Módulos habilitados
[customizations.installer.modules]
enable = [
  "org.fedoraproject.Anaconda.Modules.Storage",
  "org.fedoraproject.Anaconda.Modules.Users",
  "org.fedoraproject.Anaconda.Modules.Network",
]

# Kickstart
[customizations.installer.kickstart]
contents = """
clearpart --all --initlabel
zerombr

lang pt_BR.UTF-8
keyboard --xlayouts='br'
timezone America/Fortaleza --utc

# EFI (600MB)
part /boot/efi --fstype=efi --size=600 --fsoptions="umask=0077,shortname=winnt"

# Boot (2GB)
part /boot --fstype=ext4 --size=2048

# Btrfs (resto do disco)
part btrfs.01 --fstype=btrfs --grow
btrfs none --label=bootc-plasma btrfs.01

# Subvolumes
btrfs /     --subvol --name=root LABEL=bootc-plasma
btrfs /var  --subvol --name=var  LABEL=bootc-plasma
btrfs /home --subvol --name=home LABEL=bootc-plasma
btrfs /var/lib/flatpak --subvol --name=flatpak LABEL=bootc-plasma
"""
